<style>
    .is-mobile {
        display: none;
    }
   
    @media only screen and (max-device-width : 600px) {
      
    .is-not-mobile {
        display: none;
    }
    }
</style>

<nav id="navbar" class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">

            <a href="/" class="navbar-item">
                <h1 class="title logo-title"> TinyGigs</h1>
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <!-- navbar-start, navbar-end... -->


        </div>
        <div class="navbar-menu is-mobile" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href='/jobs'>
                        Job board
                    </a>
                </div>
                <div class="navbar-item">

                    <a href='/project'>
                        Find a designer/developer
                    </a>
                </div>
                <div class="navbar-item">

                    <a href='/maker' class="is-light">
                        Work on a project
                    </a>
                </div>
                <div class="navbar-item">

                    <a href='/about' class=" is-primary">
                        About
                    </a> </div>
            </div>
        </div>
        <div class="navbar-menu is-not-mobile" id="navBreadcrumb">

            <div class="navbar-end">
                <div class="navbar-item">
                    <nav class="breadcrumb is-small" aria-label="breadcrumbs ">
                        <ul>
                            <li class="link-item"> <a href='/jobs'>
                                    Job board
                                </a></li>
                            <li class="link-item"> <a href='/project'>
                                    Find a designer/developer
                                </a></li>
                            <li class="link-item"><a href='/maker' class="is-light">
                                    Work on a project
                                </a>
                            </li>
                            <li class="link-item"><a href='/about' class=" is-primary">
                                    About
                                </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    [...document.querySelectorAll(".link-item a")].forEach(el => {
        if (window.location.href === el.href) {
            el.parentElement.classList.add('is-active');
        }
    });
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>