<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="TinyGigs connects talented women makers (developers & designers) with people who need help with their software projects.">
<title>TinyGigs</title>

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TinyGigs">
<meta name="twitter:description" content="TinyGigs connects talented women makers (developers & designers) with people who need help with their software projects.">
<meta name="twitter:image" content="http://www.tinygigs.co/tinygigs.png">

<meta property="og:title" content="TinyGigs" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.tinygigs.co" />
<meta property="og:image" content="http://www.tinygigs.co/tinygigs.png" />
<meta property="og:description" content="TinyGigs connects talented women makers (developers & designers) with people who need help with their software projects." />
<meta property="og:site_name" content="TinyGigs" />


<link rel="stylesheet" href="/stylesheets/bulma.min.css">
<link rel="stylesheet" href="/stylesheets/landing.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>