<!DOCTYPE html>
<html>

<head>
     <% include ./partials/head %>

    <% include ./partials/header %>

</head>

<body class="blank">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="landing-content">
                            <h1 class="board-title intro-title ">
                                Need help with your next project? We can help!
                                </h1>
                                <div class="board-subtitle"> You can now reach out to a community of women that can help you develop, design and launch your project. </div>
                    
                
                        <div class="tile buttons-container">
                            <div class=" ">
                                <div class=" ">
                                    <a class="button is-primary is-medium " href="/maker">
                                        <span>
                                            <strong>Work on a project</strong>
                                        </span>
                                    </a>
                                </div>
                                <div class="list-details">
                                    <article class="content">
                                       Request an invite if:
                                        <ul>
                                            <li class="people"> You develop/design cool apps</li>
                                            <li class="remote"> You want to work remote </li>
                                            <li class="dollar"> You're looking for new gigs </li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                            <div class="  is-tile-mobile">
                                <div class="  ">
                                    <a class="button is-warning is-medium " href="/project">
                                        <span>
                                            <strong>Find a designer/developer</strong>
                                        </span>
                                    </a>

                                </div>
                                <div class="  list-details">
                                    <div class="content">
                                       Send us your project if:
                                        <ul>
                                            <li class="computer">You need a hand with your project</li>
                                            <li class="people">You want the best professionals</li>
                                            <li class="fast">You're looking for faster results </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="landing-info">TinyGigs connects <strong>talented women makers </strong> (developers & designers) with  people who need help with their <strong>software projects</strong>. <br/> All the projets are reviewed before being sent to our comunity and it should meet a few criterias. 
                            First of all the projects should be remote only, have a budget of <strong>$1000+</strong> and it should usually last for a<strong> few weeks</strong>.  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129309672-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129309672-1');
</script>
</body>

</html>