<!DOCTYPE html>
<html>

<head>

    <% include ./partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/autocomplete.js"></script>
    <link rel="stylesheet" href="stylesheets/autocomplete.css">

     <script>
        $(document).ready(function () {
            var jsonData = [];
            var tech = 'qualityassurance,javascript,react,devops,crypto,elasticsearch,firebase,java,symfony,php,laravel,dotnet,c,cplusplus,csharp,nodejs,cloud,clojure,groovy,haskell,css,ios,chatbot,html,nosql,sql,postgres,python,emberjs,scala,angularjs,meteorjs,drupal,bootstrap,phonegap,mongodb,ruby,seo,mobile,machinelearning,aws,gamedev,android,objectivec,design,heroku,linode,apache,nginx,illustrator,photoshop,vuejs'.split(',');
            for (var i = 0; i < tech.length; i++) jsonData.push({ id: i, name: tech[i] });
            $('#tech').tagSuggest({
                data: jsonData,
                sortOrder: 'name',
                name: 'tech',
                valueField: 'name',
                maxSelection: 3

            });
    
        });
    </script>
            <% include ./partials/header %>

</head>

<body class="blank">
    <section class="section">

        <div class="container">
            <div class="intro-columns">
                <div class="intro-column">
                     <!--  <h1 class="title intro-title ">
                      <a href="/" class="logo-title"> <strong>TinyGigs</strong></a> <span class="sign">Submit Project</span> </h1> -->
                    <article class="content">
                        So you're looking to reach out to an amazing group of women makers? You're in the right place!
                        Just as a tiny guideline, the ideal project will be remote only, with a budget of
                        $1000+
                    </article>

                    <form c action="submitProject" method="POST">
                        <div class="field">
                            <label class="label" for="name">Name</label>
                            <div class="control"> <input type="text" class="input" name="name" id="name" required
                                    placeholder="Name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="email">Email address</label>
                            <div class="control"> <input type="email" class="input" name="email" id="email"
                                    aria-describedby="emailHelp" required placeholder="Enter email"></div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email.</small>
                        </div>
                        <div class="field">
                            <label class="label" for="budget">Budget</label>
                            <p class="control has-icons-left">
                                <input class="input" type="number" min="1000" minstep="any" name="budget" id="budget" required
                                    aria-label="Amount (to the nearest dollar)">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-dollar-sign"></i> </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label" for="tech">Tech</label>
                            <div class="control">
                                <input type="text" class="input" id="tech" name="tech">
                            </div>
                            <div style="clear:both;"></div>

                        </div>
                        <div class="field">
                            <label class="label" for="tagLine">TagLine</label>
                            <div class="control"> <input type="text" class="input" id="tagLine" required name="tagLine"></div>
                        </div>
                        <div class="field">
                            <label class="label" for="description">Description</label>
                            <div class="control"> <textarea class="textarea" id="description" required name="description"></textarea></div>
                        </div>

                        <div class="control">
                            <button type="submit" class="button is-primary is-medium"><strong>Find a designer/developer - $99</strong></button></div>
                    </form>
                </div>
    </section>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129309672-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129309672-1');
</script>
</body>

</html>