<!DOCTYPE html>
<html>


<head>
    <% include ./partials/head %>
    <% include ./partials/header %>

</head>

<body class="blank">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="landing-content">
                        <h1 class=" thanks-title ">
                            <span> 🎉</span>
                            <%= title %>
                        </h1>
                        <div class="title intro-title thanks-description">
                            <%- description %>
                        </div>
                        <div class="center">
                        <a class="button is-warning is-medium " href="/">
                            <span>
                                <strong>Back to home page</strong>
                            </span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>